<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
        <link rel="stylesheet" href="flaticon.css"/>
        <link rel="stylesheet" href="style.css">
      
      
    </head>
    <body style="overflow: visible;">

    <header>

    <div class="header-area">
    <div class="main-header header-sticky">
    <div class="container-fluid">
    <div class="row align-items-center">

    <div class="col-xl-2 col-lg-2 col-md-1">
    <div class="logo">
    <a href="index-2.html"><img src="assets/img/logo/logo.png" alt=""></a>
    </div>
    </div>
    <div class="col-xl-10 col-lg-10 col-md-10">
    <div class="menu-main d-flex align-items-center justify-content-end">

    <div class="main-menu f-right d-none d-lg-block">
    <nav>
    <ul id="navigation">
    <li><a href="index-2.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="spakers.html">Spakers</a></li>
    <li><a href="schedule.html">Schedule</a></li>
    <li><a href="blog.html">Blog</a>
    <ul class="submenu">
    <li><a href="blog.html">Blog</a></li>
    <li><a href="blog_details.html">Blog Details</a></li>
    <li><a href="elements.html">Element</a></li>
    </ul>
    </li>
    <li><a href="contact.html">Contact</a></li>
    </ul>
    </nav>
    </div>
    <div class="header-right-btn f-right d-none d-lg-block ml-30">
    <a href="#" class="btn header-btn">Get Your Ticket</a>
    </div>
    </div>
    </div>

    <div class="col-12">
    <div class="mobile_menu d-block d-lg-none"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
    <li><a href="index-2.html" role="menuitem" tabindex="-1">Home</a></li>
    <li><a href="about.html" role="menuitem" tabindex="-1">About</a></li>
    <li><a href="spakers.html" role="menuitem" tabindex="-1">Spakers</a></li>
    <li><a href="schedule.html" role="menuitem" tabindex="-1">Schedule</a></li>
    <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="blog.html" tabindex="-1">Blog</a>
    <span class="slicknav_arrow">+</span></a><ul class="submenu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
    <li><a href="blog.html" role="menuitem" tabindex="-1">Blog</a></li>
    <li><a href="blog_details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
    <li><a href="elements.html" role="menuitem" tabindex="-1">Element</a></li>
    </ul>
    </li>
    <li><a href="contact.html" role="menuitem" tabindex="-1">Contact</a></li>
    </ul></div></div>
    </div>
    </div>
    </div>
    </div>
    </div>

    </header>
    
    <main>

    <div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
    <div class="container">
    <div class="row">
    <div class="col-xl-12">
    <div class="hero-cap text-center">
    <h2>About Us</h2>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


    <section class="about-low-area section-padding2">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-12">
    <div class="about-caption mb-50">

    <div class="section-tittle mb-35">
    <h2>The Biggest Digital Conference.</h2>
    </div>
    <p>There arge many variations ohf passages of sorem gpsum ilable, but the majority have suffered alteration in some form, by ected humour, or randomised words whi.rere arge many variations ohf passages of sorem gpsum ilable.</p>
    <p>There arge many variations ohf passages of sorem gpsum ilable, but the majority have suffered alteration in.</p>
    </div>
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
    <div class="single-caption mb-20">
    <div class="caption-icon">
    <span class="flaticon-communications-1"></span>
    </div>
    <div class="caption">
    <h5>Where</h5>
    <p>New York, United States</p>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
    <div class="single-caption mb-20">
    <div class="caption-icon">
    <span class="flaticon-education"></span>
    </div>
    <div class="caption">
    <h5>When</h5>
    <p>Jan. 21. 2021</p>
    </div>
    </div>
    </div>
    </div>
    <a href="#" class="btn mt-50">Get Your Ticket</a>
    </div>
    <div class="col-lg-6 col-md-12">

    <div class="about-img ">
    <div class="about-font-img d-none d-lg-block">
    <img src="img/gallery/about2.png" alt="">
    </div>
    <div class="about-back-img ">
    <img src="img/gallery/about1.png" alt="">
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>



    <div class="gallery-area fix">
    <div class="container-fluid p-0">
    <div class="row no-gutters">
    <div class="col-lg-3 col-md-3 col-sm-6">
    <div class="gallery-box">
    <div class="single-gallery">
    <div class="gallery-img " style="background-image: url(img/gallery/gallery1.png);"></div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
    <div class="gallery-box">
    <div class="single-gallery">
    <div class="gallery-img " style="background-image: url(img/gallery/gallery2.png);"></div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="gallery-box">
    <div class="single-gallery">
    <div class="gallery-img " style="background-image: url(img/gallery/gallery3.png);"></div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="gallery-box">
    <div class="single-gallery">
    <div class="gallery-img " style="background-image: url(img/gallery/gallery4.png);"></div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
    <div class="gallery-box">
    <div class="single-gallery">
    <div class="gallery-img " style="background-image: url(img/gallery/gallery5.png);"></div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
    <div class="gallery-box">
    <div class="single-gallery">
    <div class="gallery-img " style="background-image: url(img/gallery/gallery6.png);"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


    

    </main>



     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.js" integrity="sha512-3KSCKtGNyFpYAh0N2MFQMqQSqGpHa7Cn5YC7yTjVbCQ2CBA1LfP/ZgID0TEq7IikLqn/jy3uoexY6RU5Eco7CQ==" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha512-5WvZa4N7Jq3TVNCp4rjcBMlc6pT3lZ7gVxjtI6IkKW+uItSa+rFgtFljvZnCxQGj8SUX5DHraKE6Mn/4smK1Cg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="yoo.js"></script>
</body>
</html>